"users" %>
            <%= render "friends/request_friend_button", user: user.id %>
          <% else %>

            <%= render ButtonComponent.new(user: user, frame: user.id, path: { action: 'update_friendship', controller: 'friends', id: user.id }, type: "primary", method: :patch, params: { user: { friend: current_user, status: :active }}) do %>
  Accept invite
<% end %>
<% end %>
        </div>
      </div>
      <div class="bio mt-2">

        <p class="gray-500"><%= user.bio %></p>
      </div>
      <div>
        <hr class="my-4 h-px bg-gray-200">
      </div>

    </div>
  </div>
