<h2>Find new friends</h2>
<% @users.each do |user| %>
  <%= render UserCardComponent.new(user) do |card| %>
  <h3><%= card %></h3>
  <% card.with_button(user: user, options: { path: friends_path} ) do %>
    Add friend
  <% end %>

<% end %>
<% end %>
