<%= turbo_frame_tag "post-#{post.id}" do %>
  <div class="flex gap-4 mt-2 like-wrapper items-end">
    <%= render "shared/like_button", post: post %>
    <%= render "shared/comment_component", post: post %>
  </div>
<% end %>
