<div class="comments flex flex-col gap-2 mt-2">
  <%= render "comments/form", comment: post, target: "comments-wrapper" %>

  <%= turbo_frame_tag "comments-wrapper" do %>

    <% comments = post.comments.order(created_at: :desc) %>
    <% if defined? comment %>
      <% if comment.errors.any? %>
        <% comment.errors.each do |error| %>
          <%= error.full_message %>

        <% end %>
      <% end %>
    <% end %>
    <% if comments.any? %>

      <div class="comment-section">

        <%= render partial: "comments/comment", collection: comments %>

      </div>
    <% end %>
  <% end %>
</div>
