<%= turbo_frame_tag "like-#{post.id}" do %>

  <% type = post.class.to_s.downcase + "_id" %>

  <% args = {
    class: "items-end",
    params: {
      like: {
        type => post.id
      }
    },
    method: :post
  } %>

  <% if post.likes.where(user: current_user).any? %>
    <% like = post.likes.where(user: current_user).first %>
    <% path = like_path(like) %>
    <% args = { method: :delete, data: { turbo_method: :delete } } %>
  <% else %>
    <% path = likes_path %>
  <% end %>
  <%= button_to path, args do %>
    <div class="flex gap-2 items-end hover:rounded-lg">
      <% if like %>
        <span class="count text-blue-500 text-sm font-semibold"><%= pluralize post.likes.count, "Like" %></span>
      <% else %>
        <span class="count text-gray-600 text-sm font-semibold">Like</span>
      <% end %>
    </div>
  <% end %>
<% end %>
